<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_restaurant_root"
        name="Restaurante"
        sequence="10"/>

    <menuitem
        id="menu_restaurant_operations"
        name="Operaciones"
        parent="menu_restaurant_root"
        sequence="10"/>

    <menuitem
        id="menu_delivery_order"
        name="Pedidos a domicilio"
        parent="menu_restaurant_operations"
        action="action_restaurant_delivery_order"
        sequence="10"/>

    <menuitem
        id="menu_table_reservation"
        name="Reservas de mesa"
        parent="menu_restaurant_operations"
        action="action_restaurant_table_reservation"
        sequence="20"/>

    <menuitem
        id="menu_restaurant_configuration"
        name="Configuración"
        parent="menu_restaurant_root"
        sequence="90"/>

    <menuitem
        id="menu_restaurant_table"
        name="Mesas"
        parent="menu_restaurant_configuration"
        action="action_restaurant_table"
        sequence="10"/>
</odoo>
